<a href="https://colab.research.google.com/github/kes901025/Data/blob/main/2022_08_04_%EA%B0%95%EC%9D%98%EB%85%B8%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 파이썬 기초

## 1. 주석(Comments)
*  코드가 아님
*  코드에 대한 설명을 담
*  컴퓨터가 읽지를 못 함
* 단축키 ctrl + /

## 2. 출력(print)
* print()

In [ ]:
print("안녕하세요~")      # 문자 가능
print(25)                 # 숫자 가능
print(False)              # 참/거짓 가능

안녕하세요~
25
False

## 3. 변수 (Variables)
* 프로그래밍에서 데이터를 저장하는 공간
* menu = '피자'
* 변수이름/ 할당/ 값

In [ ]:
text = "엄마가 섬그늘에~"

print(text)

엄마가 섬그늘에~

## 4. 변수이름 짓기
* 띄어쓰기 안됨
* 빈칸 인식 못함
* 대문자, 소문자, _(언더바) 사용

In [ ]:
# 점심 때 먹은 음식 칼로리 계산

kimbap_vegetable = 150                 # kimbap_vegetable 변수에 150을  할당 함

print("오늘 점심 때 뭐 먹었나요?")
print("야채김밥 먹었어요.")
print("칼로리가 얼마에요?")
print(kimbap_vegetable, "칼로리 입니다.")     # kimbap_vegetable 라는 변수에 무슨 값이 있는지 보여 줌

오늘 점심 때 뭐 먹었나요?
야채김밥 먹었어요.
칼로리가 얼마에요?
150 칼로리 입니다.

## 5. 문자열 (string)
* 컴퓨터 프로그래밍에서 텍스트를 문자열(string) 이라고 함
* 큰 따옴표, 작은 따옴표 로 텍스트 묶음
* 큰 따옴표 안에 작은 따옴표 넣기
* 작은 따옴표 안에 큰 따옴표 넣기

In [ ]:
print("안유진")        # 문자열 "안유진" 을 출력 함

안유진

In [ ]:
# 대표 걸그룹 별 좋아하는 가수 소개 하기

print("소녀시대 '임윤아'를 좋아 합니다.")
print('아이브 "안유진" 을 좋아 합니다.')
print("원더걸스 안소희 를 좋아 합니다.")
print('트와이스 사나 를 좋아 합니다.')

소녀시대 '임윤아'를 좋아 합니다.
아이브 "안유진" 을 좋아 합니다.
원더걸스 안소희 를 좋아 합니다.
트와이스 사나 를 좋아 합니다.

## 6. 숫자 (Numeric Data types)
* int 정수형 데이터 (1, 3, 4, 7 ...)
* flat 실수형,부동소수점 데이터 (12.3, 2.3, 12.3455 ...)
* type() 으로 확인

In [ ]:
number_1 = 2        # int 정수형
number_2 = 4.0      # flat 실수형

print("number_1은 무슨 형 인가요?")
print(type(number_1))
print("number_2는 무슨 형 인가요?")
print(type(number_2))

number_1은 무슨 형 인가요?
<class 'int'>
number_2는 무슨 형 인가요?
<class 'float'>

## 7. 불 (bool data types)
* boolean
* 참(True), 거짓(False) 을 나타내는 자료형
* 예약어 (Reserve Words)
* 변수, 함수로 사용 못 함

In [ ]:
print(type(True))
print(type(False))

# True = 3            # 변수, 함수로 사용 안됨
# print(True)         # SyntaxError: can't assign to keyword

<class 'bool'>
<class 'bool'>

# 2. 파이썬 계산

## 1. 사칙연산
* +(더하기), - (빼기), * (곱하기), / (나누기), % (나머지), // (몫), ** (제곱)

In [ ]:
print(100+10)
print(50-25)
print(50*2)
print(100/20)        # 실수로 반환
print(100//20)       # 정수로 반환
print(12%5)
print(2**4)          # 2를 4번 곱함

# print(6/0)         # 에러 남

110
25
100
5.0
5
2
16

## 2. 문자열 더하기 (String Concatenation)
* 문자 열끼리 더함

In [ ]:
# 끝말 잇기

word_1 = "나비,"
word_2 = "비디오,"
word_3 = "오리,"
word_4 = "리본,"
word_5 = "본점,"

attach = word_1 + word_2 + word_3 + word_4 + word_5
print(attach)

나비,비디오,오리,리본,본점,

## 3. += 이랑 -= (Plus Equals)
* number = number + 100
* number += 100  
         
          
* number = number - 100
* number -= 100

In [ ]:
# 총 급여 계산 하기

sum_pay = 500
meal = 10
tip = 10

sum_pay += tip
print(sum_pay)
sum_pay -= meal
print(sum_pay)

510
500

# 3. 파이썬 함수 (Functions)

##1. 함수(Function)
* 불필요한 코딩을 줄임
* input(입력) 을 받아 output(결과) 를 주는 작업

def 함수
* define 정의하다
* def 함수를 만들 때 사용하는 예약어

In [ ]:
def add(number):   # add(함수이름): 함수 이름은 임의로 생성 가능, number(변수): 계속 바뀔 값
  number += 100    # 설명글                                                 1,2,3 줄: 함수 정의
  print(number)    # 실행문

add(5)             # 함수 호출, number에 5를 넣고 호출해라

105

## 2. 함수 매개변수 (parameters)
* 함수를 호출할 때 값을 설정하지 않아도 특정값이 할당되도록 하는 기능
* 변수명을 통해 정의
* 매개변수는 (정의할때)함수에 입력으로 전달된 값을 받는 변수.
* 인자는 함수를 호출할 때 함수에 전달하는 입력값.
* 매개변수에 기본값 설정 할 수 있음

In [ ]:
def music(this):                #() 매개변수 parameter
  print(this + "나비야")
  print("이리 날아 오너라")

music("나비야")                 #()안에 들어가는 변수를 argument 또는 함수 인자 라고 함

나비야나비야
이리 날아 오너라

In [ ]:
def music(this, this_2 = "노랑나비 흰나비"):   # 매개변수에 기본값 설정 할 수 있음, 바로 옆에 설정해야 함.
  print(this + "나비야")
  print("이리 날아 오너라")
  print(this_2)

music("나비야")

나비야나비야
이리 날아 오너라
노랑나비 흰나비

## 3. 반환값, return
* return 을 만나면, 함수 코드가 종료 됨
*특정 기능을 수행하며 호출한 곳으로 돌려줄 결과값이 있을 때 사용

In [ ]:
def sum(num_1, num_2):
  return(num_1 + num_2)     # return을 만나서 여기서 반환
  pirnt(num_2 / num_1)      # return에서 종료되어 안나옴

sum(2,4)

6

## 4. 여러 개의 반환값, multiple returns

In [ ]:
def who():
  x = "안유진"
  y = "이서"
  return(x,y)         # , 해서 여러 값 반환 가능

x, y = who()
print(x)
print(y)

안유진
이서

# 4. 파이썬 - 리스트

## 1. 리스트 (List)
* 순서 있음
* 중복 가능
* 수정 가능
* 삭제 가능
* 여러개의 값을 묶어서 저장 가능
* 변수의 이름에 여러개의 값을 담을 수 있음

## 2. LIst 만들기 / List에 문자 담기
* [, ] 대괄호 사용
* , 로 구분
* 텍스트는 " ", ' ' 넣기
* 숫자는 아무 것도 안넣기

In [ ]:
name = ["안유진", "이서", "장원영"]     # name 이라는 변수 이름에 여러개의 값을 담을 수 있음 / 텍스트 가능

print("아이브에서 아는 멤버는?")
print(name)

아이브에서 아는 멤버는?
['안유진', '이서', '장원영']

In [ ]:
month = [10,11,12,1,2]                  # month 이라는 변수 이름에 여러개의 값을 담을 수 있음 / 숫자 가능

print("몇달들을 좋아하나요?")
print(month)

몇달들을 좋아하나요?
[10, 11, 12, 1, 2]

In [ ]:
mart = ["계란","피자",15000]

print("마트에서 산거랑 총 가격은?")
print(mart)

마트에서 산거랑 총 가격은?
['계란', '피자', 15000]

## 3. List 에 List 담기
* 리스트 안에 리스트 넣을 수 있음
* [[]] 대괄호 안에 대괄호 넣기

In [ ]:
who = [["안유진","이서"],["지수"],["사나","다현","모모","나연"]]

print("걸그룹별 아는 멤버는?")
print(who)
print(len(who))                                                    # len은 값이 몇개 인지 알려 줌

걸그룹별 아는 멤버는?
[['안유진', '이서'], ['지수'], ['사나', '다현', '모모', '나연']]
3

## 4. append() 리스트에 값을 추가하기
* 리스트에 값을 추가하는 함수
* .append() 넣음
* 리스트의 맨뒤에 추가 됨

In [ ]:
who = ["지수","제니","리사"]

print("빠졌어요. 추가해주세요.")
who.append("로제")                 # .append 를 통해 값을 추가 함
print(who)

빠졌어요. 추가해주세요.
['지수', '제니', '리사', '로제']

In [ ]:
number = [1,3,5,7]

print("홀수 숫자를 묶어서 더 추가 해봐")
number.append([9,11,13,15])                # [] 대괄호 묶음도 추가 가능
print(number)

홀수 숫자를 묶어서 더 추가 해봐
[1, 3, 5, 7, [9, 11, 13, 15]]

## 5. 리스트 인덱싱 (index)
* 인덱싱을 통해 값을 불러 올 수 있음
* 0 앞에서 시작
* -1 뒤에서 시작

In [ ]:
who = ["안유진","이서"]

print(who[0])
print(who[1])
print(who[-1])

안유진
이서
이서

## 6. 슬라이싱(slicing)
* 리스트에서 여러값을 가져 옴
* list[3:] 3번째 부터 끝까지 가져 옴
* list[:3] 처음부터 3번째 까지 자져 옴
* list[:] 처음부터 끝까지 가져 옴

In [ ]:
list1 = ["안소희", "안유진", "안녕"]

print(list1[0:3])                    # 안소희 부터 시작, 안녕까지 출력

list1 = list1[1:]                    # 안유진 부턱 뒤에 전부 다 출력
print(list1)

print(list1[-1])                     # 안녕만 출력

['안소희', '안유진', '안녕']
['안유진', '안녕']
안녕

In [ ]:
list2 = ["이서", "임윤아", "나연", "모모", "다현"]

team = list2[-3:-1]                                 # 나연, 모모 출력 / [-3:-1:1] 1이 숨어 있는 상태
print(team)
team = list2[-1:-3:-1]                              # 맨 뒤에 -1 을 붙이면, 뒤에서 부터 시작
print(team)                                         # 다현, 모모 출력

['나연', '모모']
['다현', '모모']

# 5. 파이썬으로 조건에 따라 다른 명령 내리기

## 1. IF문
* 조건을 판단하고 상황에 맞게 처리하게 하는 문법

* **if <조건 1> :**
* **들여** <조건1이 참일 경우 출력>
* **else :**
* **들여** <위의 조건이 거짓 일 경우 출력>

In [ ]:
list = ["안유진"]

if list == ["안유진"]:      # 리스트 내용이 안유진이 맞으면 출력
  print("맞음")

맞음

In [ ]:
number = 35

if number == 40 :                # number 이 40 이면 출력
  print("40 이다.")
else :
  print("40 아니다.")            # number 이 40 아니면 출력

40 아니다.

## 2. 조건을 만드는 방법 1 : 비교연산자
* 조건문 사용시 사용
* == 같다
* (= 컴퓨터에서 지정하는 역할)
* != 같지 않다.
* <> 같지 않다.
* a < b a는 b 보다 작다.
* a > b a는 b 보다 크다.
* a >= b a는 b 보다 같거나 크다.
* a <= b a는 b 보다 같거나 작다.

In [ ]:
number = 10

if number > 9 :           # number 가 9 보다 크면, 아래 글자를 출력해라
  print("9보다 크다.")

9보다 크다.

## 3. 조건을 만드는 방법 2 : 논리연산자
* 복합된 조건문을 만들 때 ,사용
* 조건 a and 조건 b : a조건과 b조건, 둘다 만족
* 조건 a or 조건 b : a조건 또는 b조건, 둘중 하나 만족
* not 조건a : a조건이 아닌거

In [ ]:
money = 15000

if money >10000 and money <20000 :          # moeny가 10000보다 크고, 20000보다 작을 때, 출력
  print(money)

15000

In [ ]:
money = 20000

if not money == 15000 :                     # money가 15000이 아닐 때, 출력
  print(money)

20000

## 4. 병렬의 조건이 두개 이상일땐? : **elif**
```
if <조건 1> :
  <조건1이 참일 경우 출력>
elif <조건 2> :
  <조건2가 참일 경우 출력>
elif <조건 3> :
  <조건3이 참일 경우 출력>
else :**
  <위도 조건들이 거짓 일 경우 출력>
```

In [ ]:
list = ["태연"]

if list == ["효연"] :
  print("맞음")
elif list == ["써니"] :
    print("맞음2")
elif list == ["수영"] :
    print("맞음3")
elif list == ["윤아"] :
    print("맞음4")
else :
  print(list)

['태연']

## 5. 조건 안에 조건이 있을 때 : **if안에 if**
```
큰조건 :**
  if <작은조건 1> :
    작은조건 1이 참일 경우 출력
  elif <작은조건 2> :
    작은조건 2이 참일 경우 출력
  elif <작은조건 3> :
    작은조건 3이 참일 경우 출력
  else :
    작은조건 1,2,3이 거짓일 경우 출력
else :
  큰조건이 거짓일 경우 출력
```

In [ ]:
자녀수 = 2
육아난이도 = 80

if 자녀수 == 2 :                       # 자녀수가 2 이니깐 if 큰조건에 들어옴
  if 육아난이도 == 90 :
    print("A")
  elif 육아난이도 == 80 :              # 육아난이도 80 이라서, 출력
    print("B")
  elif 육아난이도 == 70 :
    print("C")
  else :
    print("D")
else :
  print("E")

B

In [ ]:
자녀수 = 2
육아난이도 = 60

if 자녀수 == 2 :                       # 자녀수가 2 이니깐 if 큰조건에 들어옴 / 육아난이도 60에 해당하는게 없으므로 출력 안됨 / else 에도 해당 안됨
  if 육아난이도 == 90 :
    print("A")
  elif 육아난이도 == 80 :
    print("B")
  elif 육아난이도 == 70 :
    print("C")
else :
  print("E")

# 6. 파이썬으로 반복 작업 자동화하기

## 1. 루프 (Loops)
* 명령어를 반복적으로 실행시키는 경우에 사용

## 2. for 반복문
* 리스트와 같은 시퀀스를 이용해서 원하는 명령을 반복하는 명령문
* for 임시변수 in List변수:
* **들여** 취할동작

In [ ]:
girl = ["태연","운아","효연","유리","수영"]

for out in girl :                              # 임시변수를 out 라고 지정
  print(out)                                   # girl 리스트들을 전부 하나씩 출력

태연
운아
효연
유리
수영

## 3. range() 함수
* 반복문과 연동되어 많이 사용하는 함수
다른 명령을 사용하고 싶을때 for반복문에서 몇번 루프를 돌지를 표시하기 위해 사용
* 숫자 n을 input으로 받아서 0부터 n-1 까지의 리스트를 출력
* `len()` : length의 줄임말. 괄호() 안에 있는 것의 개수(리스트의 경우 원소 개수, 문자열의 경우 글자 개수)를 출력

In [ ]:
number = range(15)
print(list(number))              # number 의 list 들을 출력
print(len(number))               # number 의 갯수를 출력

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
15

In [ ]:
for number in range(15) :
  print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

### 4. while 반복문
* 조건이 참일 동안 while을 실행
* while 변수명 조건

In [ ]:
number = 20

while number < 30 :       # number 가 30보다 작을 때 / number 가 30보다 크기전에 빠져나옴
  print(number)           # number 을 출력
  number += 1

20
21
22
23
24
25
26
27
28
29

In [ ]:
number = 1 
sum = 0                  # 합은 0으로 정의

while number <= 100 :
  sum += number
  number += 1

print(sum)

5050

## 5. 무한 루프 & break
* 내가 원하는 시점에 반복문(for문, While)을 빠져나오는 코드

* while문 : 반복해서 문장을 수행해할 경우

```
while <조건문>
  <수행할 문장1>
  <수행할 문장1>
  <수행할 문장1>
  .
  .
  .
```

* while문을 빠져나가는 방법 2가지
1. 조건을 써주고 밑에 식을 써줌
2. 조건 안쓰고 True를 써주고 안에 내용에서 나올 수 있게 함

In [ ]:
number = 5
sum = 0

while True :                  # True 일때, 계속 돌아감
  number += 5                 # number 에 5씩 더해 줌
  if number > 50 :
    break                     # 50보다 크면 그만 더해 줌, 빠져 나옴
  sum += number               # 50보다 적으면 통과되서 계속 더해줌

print(sum)                    # 50까지 sum한 값이 출력

270